<!DOCTYPE html>
<html>
<head>
  <title>MusicOrganizer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <p>Current user: <%= current_user.email if logged_in? %></p>
  <p><%= link_to "New User", new_user_url %></p>
  <p><%= link_to "Sign In", new_session_url %></p>

</body>
</html>
