<!DOCTYPE html>
<html>
<head>
  <title>MusicOrganizer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <div style="position: fixed; right: 20px; top: 20px; text-align: right;">
    <h2>Musicr</h2>
    <% if logged_in? %>
      <p>Current user: <%= current_user.email %> |
         <%= link_to "Sign Out", session_url, method: :delete %></p>
    <% else %>
      <p><%= link_to "Create a new account", new_user_url %> |
         <%= link_to "Sign In", new_session_url %></p>
    <% end %>
    <p><%= link_to "All Bands", bands_url %> |
       <%= link_to "All Albums", albums_url %> |
       <%= link_to "All Tracks", tracks_url %></p>
  </div>
</body>
</html>
