<h1>Edit <%= @album.title %>!</h1>

<form action="/albums/<%= @album.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= auth_token %>

  <label for="album_band">Band</label>
  <select name="album[band_id]">
    <% @bands.each do |band| %>
      <option value="<%= band.id %>"<%= " selected" if band.name == @album.band.name %>><%= band.name %></option>
    <% end %>
  </select>
  <br><br>

  <label for="album_title">Album Title</label>
  <input type="text"
         name="album[title]"
         value="<%= @album.title %>"
         id="album_title">
         <br><br>

   <label for="studio">Studio</label>
   <input type="radio" name="album[studio]" value="STUDIO" id="studio"
   <%= " checked" if @album.studio == "STUDIO" %>>
   <br>

   <label for="live">Live</label>
   <input type="radio" name="album[studio]" value="LIVE" id="live"
   <%= " checked" if @album.studio == "LIVE" %>>
   <br><br>

  <input type="submit">
</form>
